**Latihan 11.1**

Buatlah program untuk melakukan pengecekan apakah semua anggota yang ada didalam tuple sama.

Contoh:

tA= (90, 90, 90, 90)

Output

True

In [1]:
def cek_tuple(t):
    pertama = t[0]
    for i in t[1:]:
        if i != pertama:
            return False
    return True

tA = (90, 90, 90, 90)
print(cek_tuple(tA))

tB = (90, 80, 90, 90)
print(cek_tuple(tB))

True
False

**Latihan 11.2**

Buatlah program dengan menggunakan tuple yang dapat melalakukan proses seperti pada kasus 11.1, Gunakan data diri anda masing-masing dan lakukan perubahan supaya didapatkan output seperti contoh berikut ini :

Contoh:

Data: ('Matahari Bhakti Nendya', '22064091', 'Bantul, DI Yogyakarta')


NIM : 22064091

NAMA : Matahari Bhakti Nendya

ALAMAT : Bantul, DI Yogyakarta

NIM: ('2', '2', '0', '6', '4', '0', '9', '1')

NAMA DEPAN: ('a', 't', 'a', 'h', 'a', 'r', 'i')

NAMA TERBALIK: ('Nendya', 'Bhakti', 'Matahari')

In [2]:
data = ('Moreno Emanuel Gasong', '71231027', 'Palopo, Sulawesi Selatan')

nama, nim, alamat = data

print(f"NIM : {nim}")
print(f"Nama : {nama}")
print(f"Alamat: {alamat}")

nim_k = tuple(char for char in nim)
print(f"NIM: {nim_k}")

nama_pertama = nama.split()[0]
nama_pertama_k = tuple(char for char in nama_pertama)
print(f"Nama Depan : {nama_pertama_k}")

nama_k = nama.split()[::-1]
print(f"Nama terbalik : {tuple(nama_k)}")

NIM : 71231027
Nama : Moreno Emanuel Gasong
Alamat: Palopo, Sulawesi Selatan
NIM: ('7', '1', '2', '3', '1', '0', '2', '7')
Nama Depan : ('M', 'o', 'r', 'e', 'n', 'o')
Nama terbalik : ('Gasong', 'Emanuel', 'Moreno')

**Latihan 11.3**

Buatlah program untuk menghitung distribusi jam dalam satu hari dimana ada pesan yang diterima dari setiap email yang masuk. Gunakan file mbox-short.txt untuk sebagai datanya. Berikut ini adalah contoh output dari programmnya.

Contoh:

Enter a file name: mbox-short.txt

04 3

06 1

07 1

09 2

10 3

11 6

14 1

15 2

16 4

17 2

18 1

19 1

In [ ]:
filename = input("Enter a file name: ")

try:
    file = open(filename)
except:
    print("File tidak dapat dibuka:", filename)
    exit()

counts = dict()

for line in file:
    line = line.strip()
    if line.startswith('From '):
        words = line.split()
        time = words[5]
        hour = time.split(':')[0]
        counts[hour] = counts.get(hour, 0) + 1

file.close()
sorted_counts = sorted(counts.items())

for hour, count in sorted_counts:
    print(hour, count)